In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
import webbrowser
website='https://en.wikipedia.org/wiki/List_of_all-time_NFL_win%E2%80%93loss_records'
webbrowser.open(website)

True

In [12]:
nfl_frame = pd.read_clipboard()
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North
3,4,New England Patriots,900,500,391,9,0.561,1960,AFC East
4,5,Miami Dolphins,816,452,360,4,0.556,1966,AFC East

In [16]:
nfl_frame.columns

Index(['Rank ', 'Team ', 'GP ', 'Won ', 'Lost ', 'Tied ', 'Pct. ',
       'First NFL Season ', 'Division'],
      dtype='object')

In [26]:
DataFrame(nfl_frame,columns=['Team ','First NFL Season ','GP '])

                   Team   First NFL Season      GP
0        Dallas Cowboys                1960    898
1         Chicago Bears                1920  1,386
2     Green Bay Packers                1921  1,352
3  New England Patriots                1960    900
4        Miami Dolphins                1966    816

In [30]:
nfl_frame['Rank ']

0    1
1    2
2    3
3    4
4    5
Name: Rank , dtype: int64

In [33]:
nfl_frame.head(3)

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,898,512,380,6,0.573,1960,NFC East
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920,NFC North
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921,NFC North

In [35]:
nfl_frame.loc[3]

Rank                                     4
Team                 New England Patriots
GP                                    900
Won                                    500
Lost                                   391
Tied                                     9
Pct.                                 0.561
First NFL Season                      1960
Division                          AFC East
Name: 3, dtype: object

In [36]:
del nfl_frame['Division']

In [37]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season
0,1,Dallas Cowboys,898,512,380,6,0.573,1960
1,2,Chicago Bears,"1,386",761,583,42,0.564,1920
2,3,Green Bay Packers,"1,352",743,571,38,0.564,1921
3,4,New England Patriots,900,500,391,9,0.561,1960
4,5,Miami Dolphins,816,452,360,4,0.556,1966

In [38]:
data = {'city':['SF','LA','NYC'],'population':[837,388,840]}

In [39]:
city_frame = DataFrame(data)
city_frame

  city  population
0   SF         837
1   LA         388
2  NYC         840