In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [3]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [4]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
ww2_cas = Series([870,430,300,210,40], index=['USSR','Germany','China','Japan','USA'])
ww2_cas

USSR       870
Germany    430
China      300
Japan      210
USA         40
dtype: int64

In [6]:
ww2_cas['USA']

40

In [7]:
ww2_cas[ww2_cas>400]

USSR       870
Germany    430
dtype: int64

In [8]:
'USSR' in ww2_cas

True

In [9]:
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'USSR': 870, 'Germany': 430, 'China': 300, 'Japan': 210, 'USA': 40}

In [10]:
ww2_Series = Series(ww2_dict)
ww2_Series

USSR       870
Germany    430
China      300
Japan      210
USA         40
dtype: int64

In [11]:
countries = ['China','Germany','Japan','USA','USSR','Argentina']

In [12]:
obj2 = Series(ww2_dict, index=countries)
obj2

China        300.0
Germany      430.0
Japan        210.0
USA           40.0
USSR         870.0
Argentina      NaN
dtype: float64

In [13]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [14]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [15]:
ww2_Series

USSR       870
Germany    430
China      300
Japan      210
USA         40
dtype: int64

In [16]:
ww2_Series + obj2

Argentina       NaN
China         600.0
Germany       860.0
Japan         420.0
USA            80.0
USSR         1740.0
dtype: float64

In [17]:
obj2.name = "World War 2 Casualities (in thousand)"
obj2

China        300.0
Germany      430.0
Japan        210.0
USA           40.0
USSR         870.0
Argentina      NaN
Name: World War 2 Casualities (in thousand), dtype: float64

In [18]:
obj2.index.name = 'Countries'
obj2

Countries
China        300.0
Germany      430.0
Japan        210.0
USA           40.0
USSR         870.0
Argentina      NaN
Name: World War 2 Casualities (in thousand), dtype: float64