In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4], index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [4]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [5]:
ser3 = Series(['USA','Mexico','Canada'], index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [6]:
ranger = range(15)
ranger

range(0, 15)

In [7]:
ser3.reindex(ranger, method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [8]:
dframe = DataFrame(randn(25).reshape((5,5)), index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A -1.216391 -0.573298  0.879073  1.100353  0.028356
B -0.123412 -0.511949  0.770801  0.958679 -1.082993
D -0.741476 -0.124891  0.821834  1.301619  2.022735
E -1.485332  0.627997 -0.119272  0.395117 -0.211979
F  0.613353  1.189928  0.842417  1.252258  0.570644

In [9]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A -1.216391 -0.573298  0.879073  1.100353  0.028356
B -0.123412 -0.511949  0.770801  0.958679 -1.082993
C       NaN       NaN       NaN       NaN       NaN
D -0.741476 -0.124891  0.821834  1.301619  2.022735
E -1.485332  0.627997 -0.119272  0.395117 -0.211979
F  0.613353  1.189928  0.842417  1.252258  0.570644

In [10]:
new_colums = ['col1','col2','col3','col4','col5','col6']

In [11]:
dframe2.reindex(columns=new_colums)

       col1      col2      col3      col4      col5  col6
A -1.216391 -0.573298  0.879073  1.100353  0.028356   NaN
B -0.123412 -0.511949  0.770801  0.958679 -1.082993   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.741476 -0.124891  0.821834  1.301619  2.022735   NaN
E -1.485332  0.627997 -0.119272  0.395117 -0.211979   NaN
F  0.613353  1.189928  0.842417  1.252258  0.570644   NaN

In [12]:
dframe

       col1      col2      col3      col4      col5
A -1.216391 -0.573298  0.879073  1.100353  0.028356
B -0.123412 -0.511949  0.770801  0.958679 -1.082993
D -0.741476 -0.124891  0.821834  1.301619  2.022735
E -1.485332  0.627997 -0.119272  0.395117 -0.211979
F  0.613353  1.189928  0.842417  1.252258  0.570644

In [13]:
dframe.loc[['A','B','C','D','E','F'],new_colums]

C:\Users\embibe\Anaconda3\lib\site-packages\pandas\core\indexing.py:1418: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

       col1      col2      col3      col4      col5  col6
A -1.216391 -0.573298  0.879073  1.100353  0.028356   NaN
B -0.123412 -0.511949  0.770801  0.958679 -1.082993   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.741476 -0.124891  0.821834  1.301619  2.022735   NaN
E -1.485332  0.627997 -0.119272  0.395117 -0.211979   NaN
F  0.613353  1.189928  0.842417  1.252258  0.570644   NaN